.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: green;
}

body {
  background-color: black;
}

.color-pin {
  outline: white 2px solid;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
